:root {
    --background-color: #e5e5e5;
    --main-color: #212121;
    --focus-color: #2196f3;
    --font-color: #757575;
    --bg-color-accent: #2f303a;
    --white-element: #fff;
    --button-bg: #f5f4fa;
    --hover-effect: #188ce8;
    --link-color: #AFB1B8;

}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    @media  screen and (min-width: 480px) {
        width: 480px;
        
    }
    @media screen and (min-width:768px) {
        width: 768px;
        
    }
    @media screen and (min-width:1200px) {
        width: 1200px;
    }
}

a {
    text-decoration: none;
    color: var(--main-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}